.logo-title {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-items {
  display: flex;
  gap: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-items li {
  list-style: none;

  a {
    font-weight: lighter;
    font-size: medium;
    color: rgba(255, 255, 255, 0.789);
    text-decoration-line: none;
  }
}

.nav-actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-weight: lighter;
  font-size: large;
  color: rgba(255, 255, 255, 0.789);
}
